# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.
*

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md

# src folders
!src/
!src/automations/
!src/automations/presence
!src/automations/cube
!src/automations/flic
!src/automations/ios_actions
!src/automations/scenes
!src/automations/sun
!src/automations/time
!src/automations/vacation
!src/scripts
!src/scripts/*

# themes
!themes/
!themes/my-themes

# www folder
!www
!www/assets/
!www/assets/*
!www/custom-ui/
!www/custom-ui/*

# Ignore folders.
.storage
.cloud
.google.token

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
