# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.
*
# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md

# Ignore folders.
.storage
.cloud
.google.token

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml


# *.pid
# *.xml
# *.csr
# *.crt
# *.key
# *.conf
# *.pickle
# .cloud
# OZW_Log.txt
# *.log
# home-assistant_v2.db
# *.db-journal
# *.db-shm
# *.db-wal
# *.sqlite
# deps
# __pycache__
# tts

# Secrets
# secrets.yaml
# secrets

# known_devices.yaml
# phue.conf
# ios.conf
# pyozw.sqlite
# nest.conf
# .uuid
# ipchange.yaml
# production_auth.json

# .vscode/
# *.save
# .storage/
# entity_registry.yaml
# .homekit.state
# .home-assistant.swp
# alexa_*.html
# alexa_media*

# HACS

www/community/*
