homeassistant: !include src/homeassistant.yaml
http: !include src/http.yaml
person: !include src/persons.yaml
group: !include src/groups.yaml
automation: !include_dir_list src/automations
script: !include src/scripts.yaml

config:
discovery:
history:
logbook:
map:
sun:
api:
cloud:
mobile_app:
system_health:
vacuum: !include src/dusty.yaml
alexa: !include src/alexa.yaml
homekit: !include src/homekit.yaml
light: !include src/light_groups.yaml
weather:


deconz:
  host: 192.168.1.141

binary_sensor:
  - platform: flic

sensor:
- platform: plex_recently_added
  token: !secret plex_token
  host: 192.168.1.36
  port: 32400

updater:
  include_used_components: true

frontend:
  themes: !include_dir_merge_named themes
  # /config/themes/dark_themes/dark_themes.yaml

lovelace:
  mode: yaml
