homeassistant: !include src/homeassistant.yaml
http: !include src/http.yaml
person: !include src/persons.yaml
group: !include src/groups.yaml
automation: !include_dir_list src/automations
script: !include src/scripts.yaml

config:
history:
logbook:
map:
sun:
api:
cloud:
mobile_app:
system_health:
alexa: !include src/alexa.yaml
homekit: !include src/homekit.yaml
light: !include src/light_groups.yaml
ios: !include_dir_list src/ios_actions
# Xiaomi CLoud Mapo Extractor
camera: !include src/dusty_map_extractor.yaml

binary_sensor:
  - platform: flic

sensor:
  - platform: time_date
    display_options:
      - "time"
      - "date"
      - "date_time"
      - "date_time_utc"
      - "date_time_iso"
      - "time_date"
      - "time_utc"

input_text: !include src/inputs/text.yaml
input_boolean: !include src/inputs/boolean.yaml

frontend:
  themes: !include_dir_merge_named themes
  # /config/themes/dark_themes/dark_themes.yaml

lovelace:
